language: node_js
node_js: 6
addons:
  ssh_known_hosts: 163.172.151.151
install: npm install
before_deploy:
- openssl aes-256-cbc -K $encrypted_a38144795215_key -iv $encrypted_a38144795215_iv -in deployment_key.pem.enc -out /tmp/deployment_key.pem -d
- eval "$(ssh-agent -s)"
- chmod 600 /tmp/deployment_key.pem
- ssh-add /tmp/deployment_key.pem
- rm -f /tmp/deployment_key.pem
deploy:
  provider: script
  skip_cleanup: true
  script: rsync -r --delete-after --quiet $TRAVIS_BUILD_DIR node_user@163.172.151.151:~ && ssh node_user@163.172.151.151 "pm2 restart $(basename $TRAVIS_BUILD_DIR)"
  on:
    branch: master
